.add-appointment {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid gray;
    padding: 2rem;
    max-width: 90%;
    width: 600px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 999;
    display: none;
    overflow-y: auto;
    max-height: 90vh;
    border-radius: 10px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 998;
    display: none;
}

#cancel-btn {
    font-size: 2rem;
    font-weight: bolder;
    color: red;
    float: right;
    cursor: pointer;
}
.appointment-info {
    display: none;
}
.view-btn {
    float: right;
    font-weight: 600;
    text-decoration: underline;
    color: green;
    cursor: pointer;
}