<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script>
      const token = localStorage.getItem('token');
      if (!token) {
          // No token = not logged in, redirect to login
          window.location.href = '/adminLoginPage.html';
      }
    </script>

    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/side-nav.css">
    <link rel="stylesheet" href="/styles/sections-style/dashboard-section.css">
    <link rel="stylesheet" href="/styles/sections-style/database-section.css">
    <link rel="stylesheet" href="/styles/sections-style/messages-section.css">
    <link rel="stylesheet" href="/styles/sections-style/appointments-section.css">
    <link rel="stylesheet" href="/styles/sections-style/inventory-section.css">
    <link rel="stylesheet" href="/styles/sections-style/setting-section.css">
    <link rel="stylesheet" href="/styles/sections-style/calendar-section.css">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
     <!-- header -->
    <header>
      <div class="header__toggle-side-nav-icon">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>

      <div class="header__swine-logo">
        <img class="header__swine-logo-img" src="/images-and-icons/icons/swineGuard-logo.png" alt="img-logo">
        <p class="header__swine-logo-label">Swine Guard</p>
      </div>

      <form class="header__search">
        <img class="header__search-icon" src="/images-and-icons/icons/search-icon.png" alt="search-icon"></img>
        <input class="header__search-input" type="text" placeholder="Search...">   
      </form>

      <div class="admin-profile">
        <img class="admin-profile__pic" src="/images-and-icons/images/vet logo.jpg" alt="admin-profile-pic" >
        <p class="admin-profile__label">ADMIN</p>
      </div>
      <img class="header__arrow-down-icon" src="/images-and-icons/icons/arrow-down-icon.png" alt="arrow-down-icon" >

      <div class="header__notification">
        <img class="header__notification-icon" src="/images-and-icons/icons/notification-icon.png" alt="notification-icon" >
        <p class="header__notification-number">1</p>
      </div>
     
    </header>

    <main class="sections-container">
      <!-- side-nav -->
      <nav class="side-nav">
        <ul class="side-nav__link-list">
          <li class="side-nav__link focus" id="dashboard-link">
            <img class="side-nav__link-icon" src="/images-and-icons/icons/dashboard-icon.png" alt="dashboard-icon">
            <p class="side-nav__link-label">Dashboard</p>
          </li>
          <li class="side-nav__link" id="schedule-link">
            <img class="side-nav__link-icon" src="/images-and-icons/icons/schedule-icon.png" alt="appointments-icon">
            <p class="side-nav__link-label">Schedule</p>
          </li>
          <li class="side-nav__link" id="appointment-link">
            <img class="side-nav__link-icon" src="/images-and-icons/icons/appointment-icon.png" alt="appointments-icon">
            <p class="side-nav__link-label">Appointments</p>
          </li>
          <li class="side-nav__link" id="database-link">
            <img class="side-nav__link-icon" src="/images-and-icons/icons/database-icon.png" alt="database-icon">
            <p class="side-nav__link-label">Database</p>
          </li>
          <li class="side-nav__link" id="message-link">
            <img class="side-nav__link-icon" src="/images-and-icons/icons/messages-icon.png" alt="message-icon">
            <p class="side-nav__link-label">Messages</p>
          </li>
          <li class="side-nav__link" id="inventory-link">
            <img class="side-nav__link-icon" src="/images-and-icons/icons/inventory-icon.png" alt="inventory-icon">
            <p class="side-nav__link-label">Inventory</p>
          </li>
          <li class="side-nav__link" id="setting-link">
            <img class="side-nav__link-icon" src="/images-and-icons/icons/setting-icon.png" alt="settings-icon">
            <p class="side-nav__link-label">Settings</p>
          </li>
          <li class="side-nav__link" id="logout-link">
            <img class="side-nav__link-icon" src="/images-and-icons/icons/logout.png" alt="settings-icon">
            <p class="side-nav__link-label">Log out</p>
          </li>
        </ul>
      </nav>
    
      <!-- sections -->
      <div class="sections-wrapper">

        <section id="dashboard-section" class="dashboard-section">
        
          <h1 class="section__heading">Manage Dashboards</h1>

          <div class="dashboard-nav">
            <span>Population</span>
            <span>Types</span>
            <span>Appointments</span>
          </div>
          <div class="dashboard-container">
            <h3>Summary</h3> 

            <div class="innerDashboard-container">
              <div class="side-chart">
                <div class="chart-container">
                  <h4>Total Appoinments: <span id="all-appointments">No appointments</span> </h4> 
                  <div id="piechart-container" class="piechart-container">
                    <!-- Pie charts here -->
                  </div>
                </div>
                <!-- Progress Bar here -->
                <div class="progress-container">
                  <div class="progress-div success" >
                    <div class="text-area">
                      <p>Successful Appointments</p>
                      <span id="success-percentage"></span>
                    </div>
                    <progress value="" max="100" id="success-progressBar"></progress>
                  </div>
                  <div class="progress-div ongoing" >
                    <div class="text-area">
                      <p>On Progress Appointments</p>
                      <span id="ongoing-percentage"></span>
                    </div>
                    <progress value="" max="100" id="ongoing-progressBar"></progress>
                  </div>
                  <div class="progress-div pending">
                    <div class="text-area">
                      <p>Pending Appointments</p>
                      <span id="pending-percentage">%</span>
                    </div>
                    <progress value="" max="100" id="pending-progressBar"></progress>
                  </div>
                  <div class="progress-div failed" >
                    <div class="text-area">
                      <p>Failed Appointments</p>
                      <span id="failed-percentage"></span>
                    </div>
                    <progress value="" max="100" id="failed-progressBar"></progress>
                  </div>
                </div>
              </div>

              <div class="side-chart">
                <div class="chart-container vertical">
                  <h4>Status Chart</h4>
                  <div class="barchart-container" id="barchart-container">
                    <!-- Bar Chart here -->
                  </div>
                </div>

                <div class="chart-container vertical">
                  <h4>Services</h4>
                    <div class="verticalchart-container" id="verticalchart-container">
                      <!-- Donut Chart here -->
                    </div>
                </div>
              </div>

            </div>

          </div>
        </section>

        <section id="schedule-section" class="schedule-section">
          <div id='calendar'>No Content</div>
        </section>

        <section id="appointments-section" class="appointment-section">
          <h1 class="section__heading">Manage Appointments</h1>
          <!-- filter-appointment and add appointments buttons -->
          <div class="select-and-btn-container">
            <select class="select-and-btn-container__filter-apointments-status" name="appointment-filter" id="appointment-filter">
              <option value="">All</option>
              <option value="completed">Completed</option>
              <option value="ongoing">Accepted</option>
              <option value="reschedule">Reschedule</option>
              <option value="pending">Pending</option>
              <option value="removed">Archive</option>
            </select>
            <button class="select-and-btn-container__add-appointment-btn add-appointment-btn">Add Appointment</button>
          </div>

          <!-- Add Appointments Form-->
          <div class="add-appointment-container" id="add-appointment-container">
            <img class="add-appointment-container__cancel-btn cancel-add-appointment-btn" src="images-and-icons/icons/cross-icon.png"></img>
            <h2 class="add-appointment-container__heading">Add Appointment</h2>   
            <!-- form -->   
            <form class="add-appointments-form" id="add-appointments-form">
              <h3 class="add-appointments-form__heading">Swine Information</h3>
              <!-- appointment title, schedule and time group -->
              <div class="group">
                <select id="appointment-title" name="" >
                  <option value="">Select Your Appointment</option>
                  <option value="iron_supplementation">Iron Supplementation</option>
                  <option value="deworming">Deworming</option>
                  <option value="asf_testing">ASF Testing</option>
                  <option value="blood_testing">Blood Testing</option>
                  <option value="health_surveillance">Health Surveillance</option>
                  <option value="postpartum_care">Postpartum Care</option>
                  <option value="surgical_castration">Surgical Castration</option>
                </select>
                <input id="appointment-date" type="text" placeholder="Date" onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'" />
                <input id="appointment-time" type="text" placeholder="Time" onfocus="(this.type='time')" onblur="if(!this.value)this.type='text'" />
              </div>
              <!-- swine type, heads, age and gender group-->
              <div class="group">
                <select id="swine-type" name="" >
                  <option value="">Swine Type</option>
                  <option value="piglet">Piglet</option>
                  <option value="sow">Sow</option>
                  <option value="gilt">Gilt</option>
                  <option value="boar">Boar</option>
                  <option value="barrow">Barrow</option>                  
                </select>
                <input id="swine-count" type="number" min="0"  placeholder="Heads" required>
                <input id="swine-age" type="number" min="0"  placeholder="Age/months" required><br>
                <span>Swine Gender:</span>
                <input  id="swine-female" type="number" placeholder="Female" required>
                <input id="swine-male" type="number"  placeholder="Male" required>
              </div>
              <!-- textarea of swine symptoms message -->
              <textarea class="swine-symptoms"  name="" id="swine-symptoms" placeholder="Write a note or swine symptoms..."></textarea>
              <h3 class="add-appointments-form__heading">Client Information</h3>
              <!-- fullname, municipality and barangay group -->
              <div class="group">
                <input id="full-name" type="text" placeholder="Full name" required>
                <select id="municipality" name="">
                  <option value="">Municipality</option>
                </select>
                <select id="barangay" name="" disabled>
                    <option value="">Barangay</option>
                </select>
              </div>
              <!-- email and contact number group -->
              <div class="group">
                <input id="client-email" type="text" placeholder="Email">
                <input id="client-phone" type="tel" maxlength="11" placeholder="Phone" required><br>
              </div>
              <button class="submit-appointment-btn" type="submit">Add Appointment</button>
            </form>
          </div>

          <!-- Appointment Table -->
          <div class="manage-appointments-table">
              <div class="manage-appointments-table__thead"> <!-- table head -->
              <p class="th full-name">First Name</p>
              <p class="th contact">Contact</p>
              <p class="th date-time">Date & Time</p>
              <p class="th status">Status</p>
              <p class="th action">Action</p>
              <p class="th toggle-more-details-btn "><!--View--></p> 
              <p class="th appointment-id">Appointment Id</p> 
            </div>
            <div class="manage-appointments-table__tbody"> 
                <!-- appointments table body render in addAppointment.js -->
            </div>
          </div>
          
          <!-------Appointment Accept Form------->   
          <form class="appointment-accept-form" >
            <h2 class="appointment-accept-form__heading">Appointment Schedule</h2>
            <input type="hidden" id="appointmentID" data-appointment-id=""><!--Id for the appointments-->
            <div class="appointment-accept-form__details-columns">
              <div class="column-left">
                <label for="date-send">Preferred date</label>
                <input type="text" id="date-send" value="" readonly>
                <label for="set-schedule">Set Schedule</label>
                <input type="date" id="set-schedule" required>
                <label for="set-time">Set Time</label>
                <input type="time" id="set-time" required>
              </div>
              <div class="column-right">
                <label for="medicine-list">Select Medicine</label>
                <select name="" id="medicine-list">
                  <option value="">Medicine here.</option>
                </select>
                <label for="medicine-amount">Medicine Amount</label>
                <input type="number" id="medicine-amount" min="0" placeholder="Amount/mg here." required>
                <label for="available-personnel">Available Personnel</label>
                <select name="" id="available-personnel">
                    <option value="">Personnel</option>
                </select>
              </div>
            </div>
            <label for="vet-message">Message</label>
            <textarea name="" id="vet-message"></textarea>
            <div class="appointment-accept-form__buttons">
              <a href="#" class="appointment-accept-form__check-sched-btn">Check Schedules</a>
                <button class="appointment-accept-form__save-btn" type="submit">Save</button>
                <button class="appointment-accept-form__cancel-btn" id="cancel-btn">Cancel</button>
            </div>
          </form>
        

        <div class="modal-overlay hide" id="modal-overlay"></div>

        </section>

        <section id="database-section">No Content</section>
        <section id="messages-section">No Content</section>

        <section id="inventory-section">No Content</section>
        <section id="setting-section">No Content</section>
      </div>
    </main>

    <script src="/js/sideNav.js"></script>
    <script src="/js/displayAppointment.js"></script>
    <script src="/js/updateAppointment.js"></script>
    <script src="/js/data.js"></script>
    <script src="/js/schedule.js"></script>
    <script src="/js/dashboardChart.js"></script>
    <script src="/js/admin.js"></script>
    <script type="module" src="/js/addAppointment.js"></script>
  </body>
</html>