<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>Welcome Swine Raiser</h1>
    <p>Hi, <span id="user-firstName">Users</span></p>
    <button id="logout-btn">Log out</button>

    <script src="/js/client/userHandlers/logout.js"></script>
    <script src="/js/client/userHandlers/populateUserData.js"></script>
</body>
</html>