@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --main-color: #2FC375;
  --primary-color: #FFFFFF;
  --secondary-color: #241F20;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

html{
  height: 100%;
}

body{
  --header-height: 60px;
  --sidenav-width: 285px;

  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: #D2D2D2;
  overflow: hidden;
  /* overflow-y: auto; */
}

.sections-wrapper{
  padding-left: var(--sidenav-width);
}

section{
  --section-side-spacing: 1.5rem;
  position: relative;
  padding: 0 var(--section-side-spacing);
}

.section__heading{
  color: var(--main-color);
  font-size: 1.3rem;
  padding-top: 1.5rem;
}

select{
  appearance: none; /* Removes default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */

  /* Custom dropdown icon */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23000000" d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 3px center;
  background-size: 22px;
}