header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(--main-color);
  padding: 0 2.5rem;
  overflow: hidden;
  color: white;
}
.head-separate {
  display: flex;
  align-items: center;
}

.header__toggle-side-nav-icon{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-right: 3rem;
}

.header__toggle-side-nav-icon .line{
  height: 4px;
  width: 32px;
  background-color: white;
}

.header__swine-logo{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: 6rem;
}

.header__swine-logo-img{
  --logo-img-size: 40px;

  width: var(--logo-img-size);
  height: var(--logo-img-size);
}

.header__swine-logo-label{
  white-space: nowrap;
  font-weight: 600;
  font-size: 1.1rem;
}

.header__search{
  position: relative;
  display: flex;
  width: 350px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid #9A9A9A;
  border-radius: 10px;
  margin-right: 44rem;
}

.header__search-icon{
  --searc-icon-size: 18px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: var(--searc-icon-size);
  height: var(--searc-icon-size);
  z-index: 1;
  cursor: pointer;
}

.header__search-input{
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 80%;
  border: none;
  padding-left: 1rem;
  color: #5D5D5D;
}

.header__search-input::placeholder{
  color: #5D5D5D;
}

header .admin-profile{
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin-right: 1.5rem;
}

header .admin-profile__pic{
  --admin-pic-size: 36px;

  height: var(--admin-pic-size);
  width: var(--admin-pic-size);
  border-radius: 30px;
}

header .admin-profile__label{
  font-weight: 600;
  color: white;
}

.header__arrow-down-icon{
  --arrow-down-size: 18px;

  width: var(--arrow-down-size);
  height: var(--arrow-down-size);
  margin-right: 2rem;
  cursor: pointer;
}

.header__notification{
  position: relative;
  cursor: pointer;
}

.header__notification-icon{
  --notification-icon-size: 30px;

  width: var(--notification-icon-size);
  height: var(--notification-icon-size);
}

.header__notification-number{
  position: absolute;
  top: -6px;
  right: 4px;
  color: red;
}