#setting-section{
  display: block;
  font-size: 0.9rem;
}
.setting-section__main-wrapper{
  display: flex;
  gap: 1rem
}

/* setting nav */
.setting-nav{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  min-width: 220px;
  padding: 15px;
}

.setting-nav__link{
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.setting-nav__link:hover{
  background-color: #bdbdbd4b;
}

.setting-nav__link.active{
  background-color: #D9D9D9;
}

/* setting panel */
.setting-panel{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  height: 34.8rem;
  padding: 25px 30px;
}

.setting-panel.profile-panel{
  position: relative;
}

.profile-panel__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.635);
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.3rem;
}

.profile-panel__admin-photo{
  --size: 70px;

  position: relative;
  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 1.5px solid rgb(26, 26, 26);
}

.profile-panel__admin-photo--img{
  height: 100%;
  border-radius: inherit;
}

.profile-panel__admin-photo--input-img-icon{
  position: absolute;
  bottom: -5px;
  right: 12px;
  font-size: 1.1rem;
  color: rgb(17, 17, 17);
  cursor: pointer;
}

.profile-panel__edit-btn{
  height: fit-content;
  padding: 4px 15px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.profile-panel__edit-btn--icon{
  color: rgba(0, 0, 0, 0.8);
}

.profile-panel__detail{
  border-bottom: 1px solid rgba(0, 0, 0, 0.282);
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 5px;
}

.profile-panel__detail-label{
  font-weight: 600;
  margin-bottom: 2px;
}

.profile-panel__detail-value{
  border: none;
  font-size: 0.87rem;
  width: 100%;
  padding: 3px;
}

.profile-panel__detail-value.edit-mode{
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.64);
  border-radius: 5px;
}

.profile-panel__buttons{
  display: none;
  gap: 10px;
  position: absolute;
  right: 28px;
  bottom: 13px;
}

.profile-panel__buttons button{
  border-radius: 5px;
  border: none;
  color: white;
  padding: 7px 10px;
  cursor: pointer;
}

.profile-panel__save-btn{
  background-color: var(--main-color);
}

.profile-panel__cancel-btn{
  background-color: red;
}